DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_database_password
DB_PORT=3306
DB_NAME=karakover-admin

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password
MAIL_FROM=your_email@example.com
MAIL_DEBUG=false

JWT_SECRET=change_this_secret
JWT_EXPIRY=7d
PORT=3000
API_URL=http://localhost:3000
# APP_URL=https://api.karakover.com
APP_URL = http://localhost:5173
WEB_URL=https://karakover.com
S3_URL=https://api.karakover.com/assets/songs/
LOGO_URL=https://api.karakover.com/image/logo.png
SONGS_PATH=public/assets/songs
SERVER_SONGS_PATH=/var/www/html/assets/songs
